.input-field-wrapper{
    display: flex;
    flex-direction: column;
    &.inline{
        flex-direction: row;
        gap: 6px;
        align-items: center;
    }
    &.error{
        input{
            border: 1px solid red;
        }
    }
    input{
        padding: 0.5em 0.75em;
        border-radius: 8px;
        border: 1px solid var(--light-blue);
        &:focus{
            outline: none;
            box-shadow: 0 0 2px var(--light-blue);
        }
    }
}