body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  font-size: 16px;
  --sidebar-width: 200px;
  --light-blue: #1e96fc;
  --green: #9ef01a;
}

.admin-layout-wrapper {
  min-height: 100vh;
  box-sizing: border-box;
  margin-left: var(--sidebar-width);
  padding: 2rem 3rem;
}

.center-on-screen {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  font-size: 0.75rem;
  text-align: center;
  color: red;
  margin: 0 0 5px 0;
}

.landing-page-wrapper .header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  width: var(--sidebar-width);
  background-color: var(--green);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 25px 0;
}
.sidebar-wrapper .item {
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  color: white;
}
.sidebar-wrapper .item.active {
  background-color: white;
  color: var(--green);
}

.navbar-wrapper {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-sizing: border-box;
  position: fixed;
  top: 0;
}

.input-field-wrapper {
  display: flex;
  flex-direction: column;
}
.input-field-wrapper.inline {
  flex-direction: row;
  gap: 6px;
  align-items: center;
}
.input-field-wrapper.error input {
  border: 1px solid red;
}
.input-field-wrapper input {
  padding: 0.5em 0.75em;
  border-radius: 8px;
  border: 1px solid var(--light-blue);
}
.input-field-wrapper input:focus {
  outline: none;
  box-shadow: 0 0 2px var(--light-blue);
}

.dropdown-wrapper {
  display: flex;
  flex-direction: column;
}
.dropdown-wrapper p {
  margin: 0;
}
.dropdown-wrapper select {
  padding: 0.5em 0.75em;
  border-radius: 8px;
  border: 1px solid var(--light-blue);
}
.dropdown-wrapper.inline {
  flex-flow: row;
  align-items: center;
  gap: 10px;
}

.button-wrapper {
  background-color: var(--light-blue);
  font-size: 1rem;
  border: none;
  padding: 0.5rem 1.25rem;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: all 0.1s ease-in;
}
.button-wrapper:hover {
  transform: scale(1.02);
}
.button-wrapper:active {
  transform: scale(0.98);
}

.row-item-wrapper {
  display: grid;
  border-bottom: 1px solid gray;
  padding: 0.5rem 1rem;
  align-items: center;
}

.option-select-wrapper {
  padding: 0.75rem 1.25rem;
  border-radius: 10px;
  border: 1px solid var(--light-blue);
  cursor: pointer;
}
.option-select-wrapper.selected {
  background-color: var(--light-blue);
  color: white;
}

.blog-item-wrapper {
  max-width: 450px;
}
.blog-item-wrapper img {
  width: 100%;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-wrapper .backdrop {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(100, 100, 100, 0.75);
  z-index: 2;
  height: 100%;
  width: 100%;
}
.modal-wrapper .content {
  position: relative;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  background-color: white;
  z-index: 3;
}
.modal-wrapper .content .close {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  cursor: pointer;
  transition: all 0.2s ease;
}
.modal-wrapper .content .close:hover {
  transform: scale(1.1);
}

.admin-account-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  align-items: flex-start;
}

.admin-diet-request-edit-wrapper .controls {
  display: flex;
  gap: 0.75rem;
  margin-bottom: 1rem;
}
.admin-diet-request-edit-wrapper .form {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 2rem;
}
.admin-diet-request-edit-wrapper .input-item {
  display: grid;
  grid-template-columns: 40% 60%;
}

.admin-diet-wrapper {
  width: 90%;
}
.admin-diet-wrapper .week {
  border-top: 1px solid black;
}
.admin-diet-wrapper .week .days .day {
  border-bottom: 1px solid gray;
}
.admin-diet-wrapper .week .days .day .meals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.admin-blog-builder-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.admin-blog-builder-wrapper .actions {
  display: flex;
  gap: 0.5rem;
}
.admin-blog-builder-wrapper img {
  width: 150px;
}

.login-wrapper {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.get-diet-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.25rem;
}
.get-diet-wrapper .select-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.get-diet-wrapper .select-wrapper.inline {
  flex-direction: row;
  align-items: center;
}

.blog-wrapper {
  padding-top: 4rem;
}

.admin-food-edit-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*# sourceMappingURL=index.css.map */
