body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  font-size: 16px;
  --sidebar-width: 200px;
  --light-blue: #1e96fc;
  --green: #9ef01a;
}

.admin-layout-wrapper{
  min-height: 100vh;
  box-sizing: border-box;
  margin-left: var(--sidebar-width);
  padding: 2rem 3rem;
}

.center-on-screen{
  height: 100vh;
  width: 100vw;
  position:absolute;
  top:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message{
  font-size: 0.75rem;
  text-align: center;
  color: red;
  margin: 0 0 5px 0;
}

@import "./Screens/Landing/landingPage";
@import "./Components/Sidebar/sidebar";
@import "./Components/Input/input";
@import "./Components/Button/button";
@import "./Screens/Admin/Account/account";
@import "./Screens/Admin/Transactions/transactions";
@import "./Screens/Admin/Users/users";
@import "./Screens/Admin/DietRequests/dietRequests";
@import "./Screens/Admin/Dashboard/dashboard";
@import "./Screens/Admin/Blog/blog";
@import "./Screens/Auth/login";